.md .swiper-pagination-bullet-active, .ios .swiper-pagination-bullet-active {
    background: #fff!important;
}
.w-100{
	width: 100%;
}
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}
.smiley{
	position: absolute;
    left: 115%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFF00;
    /*color: #fff;*/
}
.centered{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /*font-family: var(--f7-font-family);
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
  font-weight: 300;*/
  font-family: 'Montserrat', sans-serif!important; 
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  width: auto;
  text-align: center;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
	/*bottom:10px; real value */
	bottom: 60px;
}
.skipnow{
	position: absolute;
    top: 6%;
    left: 75%;
    float: right;
    transform: translate(-50%, -50%);
    /*background-color: #47525d;
    color: white;*/
    background-color: #fdfdff;
    color: #47525d;
    font-size: 13px;
    padding: 5px 8px 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 30%;
    text-align: center;
    z-index: 10;
    box-shadow: 0px 0px 1px 3px #889aad;
}
.skiparrow{
	font-size: 10px;
}
.toolbar{
	background-color: initial;
}
.text-white{
	color: #fff!important;
}
.smart-select .item-after{
  color: #fff!important;
  text-align: left;
}
.text-uppercase{
	text-transform: uppercase;
}
.fs-12{
  font-size: 12px!important;
}
.fs-14{
  font-size: 14px!important;
}
.fs-16{
  font-size: 16px!important;
}
.fs-18{
  font-size: 18px!important;
}
.w-50{
  width: 50%;
}
.nav-bg,.btn-teal,.footer-bg{
  background-color: #006D5B!important;
}
.form-btn{
  margin: 30px 38px 15px 38px;
  background-color: rgba(255, 255, 255, 0.31)!important;
}
.swiper-pagination-bullet{
  background:#fff!important;
}
.text-capitalize{
  text-transform: capitalize;
}
.no-radius{
  border-radius:0px!important;
}
.mt-0{
  margin-top: 0px!important;
}
.block_img{
  top: 10px;
  position: relative;
}
.text-red{
  color: red;
}
.showpass{
  position: absolute;
  right: 14%;
  padding-top: 2%;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}
.pt-0{
  padding-top: 0px!important;
}
.dash_slides{
  /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: #fff;*/
  box-shadow: 0 10px 6px -6px #777;  
  background-color: white;    
  border-radius: 3px;
}
.dash_bg{
  background-color: #ccc!important;
  /*background-color: #efefef!important;*/
}
.slide-height{
  height: 200px;
}
div.container4 {
  height: 10em;
  position: relative; 
}
div.container4 img {
  margin: 0;    
  position: absolute;
  top: 120%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.loc-button{    
  margin: 0 38px 0 38px;
  position: relative;
  text-align: center;
  padding: 6px 0 6px 0;
  background-color: #C02717;
  color: #fff;  
  width: 79%;
}
.othloc-button{
  margin: 0 38px 0 38px;
  position: relative;
  text-align: center;
  padding: 6px 0 6px 0;
  background-color: #036B6E;
  color: #fff;   
  width: 79%;
}
.locationDiv{
  height: 8px;
    /*background-color: black;*/
    background-color: #232F3E;
    color: #fff!important;
    padding: 5% 7% 7% 5%;    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
    display: inline-block;
}
.clocnav{
  height: 56px;    
  background-color: #232F3E;
  color: #fff!important;  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}
.toolbar-customer{
  background-color: #fff;
  bottom: 0;
    height: calc(var(--f7-toolbar-height) + var(--f7-safe-area-bottom));
}
.tcust{
  align-items: inherit!important;
}
.bookings_tot{
  left: 55%;
  position: absolute;
}
.elevation_blocks{
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  background-color: #fff;
}
#imageContainer {
    /*background-color: #333;
    border: 2px #333 solid;*/
    width: 360px;
    height: 200px;
    overflow: hidden;    
}
/*#imageContainer img {
  animation: kenburns 20s infinite;
}*/
.slider_txt {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #ffffff;*/
  background-color: #0a0a0a;
  color: #fff;
  opacity: 0.6;
  width: 85%;
  font-size: 12px;
  padding: 2%;
  text-align: center;
  white-space: nowrap;   
  overflow: hidden;
  text-overflow: ellipsis; 
}
.tab-border{
  border-bottom: 1px groove #cecece;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  justify-content: center;
  color: #036B6E;
  font-size: 16px;  
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #C02717; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
.pac-container{
  z-index: 11111!important;
  box-shadow: 0px!important;
  top: 60px!important;
  width: 80%!important;
}
.clearbtn{
  color: #ffffff;
  right: 12px;
}
.currlocDiv{
  position: relative;
  top: 100%;
  padding: 4%;
  background-color: #516bf0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #C02717 }
}

@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}