.md .swiper-pagination-bullet-active, .ios .swiper-pagination-bullet-active {
    background: #fff!important;
}

.w-100{
	width: 100%;
}
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}
.smiley{
	position: absolute;
    left: 115%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFF00;
    /*color: #fff;*/
}
.centered{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /*font-family: var(--f7-font-family);
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
  font-weight: 300;*/
  font-family: 'Montserrat', sans-serif!important; 
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  width: auto;
  text-align: center;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
	/*bottom:10px; real value */
	bottom: 60px;
}
.skipnow{
	position: absolute;
    top: 6%;
    left: 75%;
    float: right;
    transform: translate(-50%, -50%);
    /*background-color: #47525d;
    color: white;*/
    background-color: #fdfdff;
    color: #47525d;
    font-size: 13px;
    padding: 5px 8px 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 30%;
    text-align: center;
    z-index: 10;
    box-shadow: 0px 0px 1px 3px #889aad;
}
.skiparrow{
	font-size: 10px;
}
.toolbar{
	background-color: initial;
}
.text-white{
	color: #fff!important;
}
.smart-select .item-after{
  color: #fff!important;
  text-align: left;
}
.text-uppercase{
	text-transform: uppercase;
}
.fs-12{
  font-size: 12px!important;
}
.fs-18{
  font-size: 18px!important;
}
.w-50{
  width: 50%;
}
.nav-bg,.btn-teal,.footer-bg{
  background-color: #006D5B!important;
}
.form-btn{
  margin: 30px 38px 15px 38px;
  background-color: rgba(255, 255, 255, 0.31)!important;
}
.swiper-pagination-bullet{
  background:#fff!important;
}
.text-capitalize{
  text-transform: capitalize;
}
.no-radius{
  border-radius:0px!important;
}
.mt-0{
  margin-top: 0px!important;
}
.text-red{
  color: red;
}
.showpass{
  position: absolute;
  right: 14%;
  padding-top: 2%;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}